event_filter gen_id 1, sig_id 20160405, type limit, track by_src, count 1, seconds 60
alert tcp any any -> any :4096 (msg:"varrimentos de portos"; sid:20160405; rev:0; flags:S; detection_filter: track by_src, count 5, seconds 60;)

event_filter gen_id 1, sig_id 20160406, type threshold, track by_src, count 5, seconds 45
alert icmp any any -> any any (msg:"tentar descobrir uma password de acesso ao servico"; sid:20160406; rev:0; detection_filter:track by_src, count 1, seconds 45;) 